body{
    display: grid;
    grid: auto-flow min-content / 1fr;
    grid: "intro"
          "rating"
          "feedback";
    grid-gap: 5em;
}

.intro { grid-area: intro; }

.rating { 
    grid-area: rating; 
    grid-column: 1/-1;
    display: grid;
    grid: auto-flow max-content / repeat(12, 1fr);
    row-gap: 1em;
}

.rating .rate{
    grid-column: span 12;
}

.feedback{
    grid-area: feedback;
    grid-column: 1/-1;
    display: grid;
    grid: auto-flow max-content / repeat(12, 1fr);
    grid-gap: 0.5em;
}

.feedback .testimony{
    grid-column: span 12;
}

@media screen and (min-width: 600px) {
    body{
        grid: auto-flow min-content / 1fr;
        grid-template-areas: "intro     "
                             "rating"
                             "feedback ";
    }

    .feedback .testimony{
        grid-column: span 12;
    }
}

@media screen and (min-width: 800px) {
    body{
        grid: auto-flow min-content / 1fr 2fr;
        grid-template-areas: "intro rating  "
                             "feedback feedback     ";
        margin: 5em 10em;
    }

    .intro{
        grid-area: intro;
        text-align: left;
    }

    .rating{
        grid-area: rating;
        margin: 2em;
    }

    .feedback{
        column-gap: 1em;
    }

    .feedback .testimony{
        grid-column: span 4;
    }
}